[submodule ".config/mvi"]
	path = .config/mvi
	url = https://github.com/occivink/mpv-image-viewer
[submodule ".config/vim/pack/packages/start/supertab"]
	path = .config/vim/pack/packages/start/supertab
	url = https://github.com/ervandew/supertab
[submodule ".config/vim/pack/packages/start/ale"]
	path = .config/vim/pack/packages/start/ale
	url = https://github.com/dense-analysis/ale
[submodule ".config/vim/pack/packages/start/editorconfig-vim"]
	path = .config/vim/pack/packages/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
